<div id="leavecancelapprovalView-view" data-role="view" data-title="Leave Cancel Approve" 
     data-layout="afterlogin"
     data-model="app.leavecancelapprovalView.leavecancelapprovalViewModel"
     data-bind="events: { show: onShow }">
    <div id="dvleavecancelapprovalView">
        <div class="panel panel-custom"> 
            <div class="panel-body">
                <div class="row">
                    <div data-role="listview" id="listview-leavecancelapproval"> 
                    </div>
                    <script type="text/x-kendo-tmpl" id="template-leavecancelapproval">
                        <div class="row">
                            <div class="col-xs-10">
                                <div> #: Employee_Name # </div> 
                                <div><span class="bg-info ">#: No_Of_Days #</span> - #: FromDate # to #: ToDate #</div>
                                <div>
                                    <span class="bg-info ">#: Leave_Type #</span> 
                                </div>
                            </div>
                            <div class="col-xs-2"> 
                                <a class="btn btn-danger" data-role="button"
                                   data-ethos_leave_master_id="${Ethos_Leave_Master_ID}"
                                   data-employee_id="${Employee_ID}"
                                   data-leave_type_id="${Leave_Type_ID}"
                                   data-click="fun_leave_cancel_approve"><i class="fa fa-close fa-fw"></i></a>
                            </div>
                        </div>
                    </script>
                </div>
            </div>
        </div>
    </div> 
</div>
