<div id="dashboard-view" data-role="view" data-title="Cancel Request"
     data-after-show="disableBackButton" data-before-hide="enableBackButton"
     data-layout="afterlogin"
     data-model="app.cancelleaveView.cancelleaveViewModel"
     data-bind="events: { show: onShow }">
    <div id="dvcancelleaveview">
        <div class="panel panel-custom"> 
            <div class="panel-body">
                <div class="row">
                    <div data-role="listview" id="listview-leavecanceldetail"> 
                    </div>
                    <script type="text/x-kendo-tmpl" id="template-leavecanceldetail">
                        <div class="row">
                            <div class="col-xs-10">
                                <div> #: Employee_Name # </div> 
                                <div><span class="bg-info ">#: No_Of_Days #</span> - #: FromDate # to #: ToDate #</div>
                                <div>
                                    <span class="bg-info ">#: Leave_Type #</span> 
                                </div>
                            </div>
                            <div class="col-xs-2"> 
                                <a class="btn btn-danger" data-role="button"
                                   data-ethos_leave_master_id="${Ethos_Leave_Master_ID}"
                                   data-click="fun_leavecancel_openmodalview"><i class="fa fa-close fa-fw"></i></a>
                            </div>
                        </div>
                    </script>
                </div>
            </div>
        </div>
    </div>
    <div data-role="modalview" id="modalview-cancelleave" style="height:auto;width:90%!important ">
        <div class="panel-headingcustom">
            <div class="row">
                <div class="panel-title text-uppercase" style="padding-left:10px !important ; ">
                    Are you sure you want to cancel.? <a data-click="fun_leavecancel_closemodalview"
                                                         data-role="button" class="pull-right"
                                                         style="padding : 0 5px 0 0; ">
                        <i class="fa fa-close"></i>
                    </a>
                </div>
            </div>
        </div> 
            <div class="panel-body">
                <div class="row">
                    <div class="form-group col-xs-12 col-sm-12">
                        <label class="control-label">Remarks</label>
                        <input name="txtremarks" id="txtremarks" type="text"
                               class="form-control" required
                               onkeyup="return textinputlength(this.value, 1000, this.id);" />
                        <input name="hdn_leavecancel_ethos_leave_master_id" id="hdn_leavecancel_ethos_leave_master_id" type="hidden" value="0" />
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="pull-right">
                    <a class="btn btn-danger" data-role="button"
                       data-click="fun_leavecancel_savedetails">
                        <span class="fa fa-close"></span> Cancel
                    </a> 
                </div>
                <div class="clearfix"></div>
            </div> 
    </div>
</div>
