<div id="authentication-view" data-role="view" data-title="Authentication" 
     data-layout="main"
     data-after-show="disableBackButton" data-before-hide="enableBackButton"
     data-model="app.authenticationView" data-show="app.authenticationView.onShow"
     class="authentication-view">

    <div class="signin-view" id="dvsignin">
        <form id="login-form" class="col-xs-10 col-xs-offset-1  col-sm-6 col-sm-offset-3">
            <div class="text-left marginTopBottom-10">
                <img src="images/ethoslogo.png" alt="logo" />
                
            </div>
            <div class="marginTopBottom-10">
            </div>
            <!--<div class="form-group">
                <span class="input-group-addon"><i class="fa fa-user "></i></span>
                <input  id="username"     name="username" type="text" class="form-control" placeholder="Username"
                       data-bind="value: authenticationViewModel.user.username"
                       required autofocus/>
            </div>
             <div class="form-group">
                <span class="input-group-addon "><i class="fa fa-lock"></i></span>
                <input id="password"  name="password"  type="password" class="form-control" placeholder="Password"
                       data-bind="value: authenticationViewModel.user.password" required />
            </div>-->
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="fa fa-user" style="width:15px"></i>
                </span>
                <input id="username" name="username" type="text"
                       class="form-control"
                       data-bind="value: authenticationViewModel.user.username"
                       placeholder="Username">
            </div>
            <div class="marginTopBottom-10">
            </div>
            <div class="input-group">
                <span class="input-group-addon">
                <i class="fa fa-key"></i></span>
                <input id="password" name="password" type="password"
                       class="form-control"
                       data-bind="value: authenticationViewModel.user.password"
                       placeholder="Password">
            </div>
            <div style="height:20px!important ">
            </div>
            <div class="form-group">
                <div class="btn-block"
                     data-bind="events: { click: authenticationViewModel.signin }">
                    L O G I N
                </div>
            </div>
            <!--<div class="form-group">
                <a class="signbtn"
                   data-role="button" data-click="app.navigation.navigatesignout">
                    Logout <i class="fa fa-1-5x fa-sign-in  fa-pull-right  ">   </i>
                </a>
            </div>-->
            <!--<div class="form-group text-left ">
                    <ul> Note:
                    <li> Use Ethos username and password.</li>
                    <li> For any clarification contact Ethos Admin.</li>
                    </ul>
            </div>-->
        </form>
    </div>
    <div class="offline" align="center" style="display:none;">
        You are currently offline. Before using this app in offline mode you must initialize it while you are online
    </div>
</div>
