<div id="supportView" data-role="view" data-title="Support"
     data-after-show="disableBackButton" data-before-hide="enableBackButton"
     data-layout="afterlogin"
     data-model="app.supportView.supportViewModel"
     data-bind="events: { show: onShow }" data-stretch="true">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-12">
                    <table align="center">
                        <tr>
                            <td class="text-center ">
                                <img src="images/admin.png" alt="admin image" />
                            </td>
                        </tr>
                        <tr>
                            <td class="text-left ">
                                For any clarification please feel free to 
                                contact technical support with subject ETHOS-INS App Queries
                                <br />
                                <span> 
                                    <b class="horange">
                                        <i class="fa fa-1-5x fa-envelope hgreen"></i>  : 
                                        <a style="font-size:small" href="mailto:radhakrishnan.j@himalayawellness.com">
                                            radhakrishnan.j@himalayawellness.com
                                        </a>
                                    </b> 
                                    <br />
                                     
                                    <b class="horange"> 
                                        <i class="fa fa-1-5x fa-phone hgreen"></i>   : 
                                    <a style="font-size:small" href="tel:08067549177"> 080 - 67549177</a>
                                    </b> 
                                </span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
