<div id="supportView" data-role="view" data-title="Support"
     data-after-show="disableBackButton" data-before-hide="enableBackButton"
     data-layout="afterlogin"
     data-model="app.supportView.supportViewModel"
     data-bind="events: { show: onShow ,afterShow:afterShow}" data-stretch="true">
    <div class="panel panel-custom">
        <div class="panel-headingcustom">
            <div class="row">
                <div class="col-xs-12">
                    <i class="fa fa-info"></i> APP Version : 1.0.1
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-12">
                    <table align="center"></table>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <!--<table align="center">
                        <tr>
                            <td class="text-center ">
                                <img src="images/admin.png" alt="admin image"  />
                            </td>
                        </tr>
                        <tr>
                            <td class="text-left ">
                                For any clarification please feel free to
                                contact technical support.
                                <br />
                                <br />
                                <div>
                                    <b class="horange">
                                        <i class="fa fa-2x fa-envelope hgreen"></i>  :
                                        <a id="anchartechsupportemail"  href="mailto:radhakrishnan.j@himalayawellness.com">
                                            radhakrishnan.j@himalayawellness.com
                                        </a>
                                    </b>
                                    <br />

                                    <b class="horange">
                                        <i class="fa fa-2x fa-phone hgreen"></i>   :
                                    <a id="anchartechsupportmobile"  href="tel:08067549177"> 080 - 67549177</a>
                                    </b>
                                </div>
                            </td>
                        </tr>

                    </table>-->

                    <div class="col-xs-12 text-center ">
                        <img src="images/admin.png" alt="admin image" />
                        <br />
                    </div>
                    <div class="col-xs-12 text-left ">
                        For any clarification please feel free to
                        contact technical support.
                        <br />
                        <br />
                    </div>
                    <div class="col-xs-12 text-center ">
                        <div class="col-xs-6">
                            <a id="anchartechsupportemail"
                                href="">
                                <div> 
                                    <img src="images/mail.png" alt="mail image" width="70%" />
                                </div>
                            </a>
                        </div>
                        <div class="col-xs-6">
                            <a id="anchartechsupportmobile" href="">
                                <img src="images/phone.png" alt="phone image" width="70%" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
