<div id="DCRinstitutionView" data-role="view"
     data-reload="true"
     data-title="MSL Entry"
     data-before-hide="enableBackButton"
     data-layout="afterlogin"
     data-model="app.DCRinstitutionView.DCRinstitutionViewModel"
     data-show="app.DCRinstitutionView.DCRinstitutionViewModel.onShow"
     data-after-show="app.DCRinstitutionView.DCRinstitutionViewModel.afterShow">
    <footer data-role="footer">
        <div class="row text-center">
            <div data-role="button"
                 data-bind="events: {click: savelisteddcrdetails }">
                <i class="fa fa-plus"> </i> Add
            </div>
            <div data-role="button"
                 data-click="app.navigation.navigateDCRunlistedinstitutionView">
                <i class="fa fa-university"> </i>  Unlisted
            </div>
            <div data-role="button"
                 data-click="app.navigation.navigateDCRfinaentryView">
                <i class="fa fa-file-text"></i>  Final Entry
            </div>
        </div>
    </footer>
    <!--<div id="dvDCRinstitutionView_offgps" style="display:none">
        <div class="col-xs-12 col-sm-12 full-height"
             align="center">
            <div class="middle-align">
                <i class="fa fa-5x fa-map-marker" id="fa-map-marker"></i>
                <p class="horange">
                    You seem to be GPS Offline. <br>
                    Switch on the GPS location in your phone device
                </p>
                <a data-role="button" class="btn btn-success"
                   id="currentpage"
                   data-click="fun_show_dcr_master_listed">Retry</a>
            </div>
        </div>
    </div>-->
    <div id="dvDCRinstitutionView" >
        <div class="panel panel-custom padding0">
            <div class="panel-body">
                <div class="row">
                    <form id="form-listeddcr">
                        <div class="form-group col-xs-12 col-sm-12">
                            <label class="control-label">Serial Number</label>
                            <input type="text" value="1" class="form-control"
                                   disabled
                                   id="hdndcr_ins_master_id" name="hdndcr_master_id" /> 
                        </div>
                        <div class="form-group col-xs-12 col-sm-12">
                            <label class="control-label">Selected Work With</label>
                            <div data-role="listview" id="listview-dcr_listedinstutition_ww_temp"></div>
                            <script type="text/x-kendo-tmpl" id="template-dcr_listedinstutition_ww_temp">
                                <div class="row">
                                    <div class="col-xs-10"> 
                                         #: ww_name # 
                                    </div>
                                    <div class="col-xs-1"> 
                                            <a class="btn btn-danger" data-role="button"
                                               data-dcr_master_ww_detail_temp_institution_id="${dcr_master_ww_detail_temp_institution_id}"
                                               data-click="fun_delete_dcr_listedinstutition_ww_temp"><i class="fa fa-trash"></i></a>
                                       
                                    </div>
                                </div>
                            </script>
                        </div>
                        <div class="form-group col-xs-12 col-sm-12">
                            <label class="control-label">Institution</label>
                            <div class="input-group">
                                <input id="txtlistedinstitution" name="txtlistedinstitution"
                                       class="form-control " required>
                                <span class="input-group-addon" data-bind="events: {click: fun_close_txtlistedinstitution }">
                                    <i class="fa fa-1-5x fa-close"></i>
                                </span>
                            </div>
                        </div>
                        <div class="form-group col-xs-12 col-sm-12">
                            <label class="control-label">KDM Details</label>
                            <!-- grid start -->
                            <div id="tblkdmlist"></div>
                            <script id="template-tblkdmlist" type="text/x-kendo-template">
                            </script>
                            <!-- grid  end -->
                        </div> 
                        <div class="form-group col-xs-12 col-sm-12">
                            <label class="control-label">Products Promoted</label>
                            <div class="pull-right horange">Close</div>
                            <select id="ddlproductspromotedinst" multiple="multiple"
                                    data-placeholder="Select Products" required></select>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
