<div id="DCRinstitutionView" data-role="view" data-title="MSL Entry"
     data-after-show="disableBackButton" data-before-hide="enableBackButton"
     data-layout="afterlogin"
     data-model="app.DCRinstitutionView.DCRinstitutionViewModel"
     data-bind="events: { show: onShow }"> 
    <footer data-role="footer"> 
        <div class="input-group">
            <div data-role="button"
                 data-bind="events: {click: savelisteddcrdetails }">
                <i class="fa fa-university"> </i> Add 
            </div> 
            <div data-role="button"
                 data-click="app.navigation.navigateDCRunlistedinstitutionView">
                <i class="fa fa-th"> </i>  Unlisted  
            </div> 
            <div data-role="button"
                 data-click="app.navigation.navigateDCRfinaentryView">
                <i class="fa fa-file-text"></i>  Deviation 
            </div>
        </div>
    </footer>
    <div id="dvDCRinstitutionView">
        <div class="panel panel-custom padding0">
            <div class="panel-body">
                <div class="row">
                    <form id="form-listeddcr"> 
                        <div class="form-group col-xs-12 col-sm-12">
                            <label class="control-label">Entry No.</label>
                            <input type="text" value="1" class="form-control" 
                                   disabled 
                                   id="hdndcr_ins_master_id" name="hdndcr_master_id" />
                        </div>
                        <div class="form-group col-xs-12 col-sm-12">
                            <label class="control-label">Institution</label>
                            <input id="txtlistedinstitution" name="txtlistedinstitution"
                                   class="form-control" required>
                        </div>
                        <div class="form-group col-xs-12 col-sm-12">  
                            <label class="control-label">KDM Details</label>
                            <!-- grid start -->  
                            <div id="tblkdmlist"></div>
                            <script id="template-tblkdmlist" type="text/x-kendo-template">
                            </script>
                            <!-- grid  end -->
                        </div>
                        <div class="form-group col-xs-12 col-sm-12">
                            <label class="control-label">Work With</label>
                            <select name="ddlworkwithinst" id="ddlworkwithinst" multiple="multiple"
                                    data-placeholder="Select Employees..." required></select>
                        </div>

                        <div class="form-group col-xs-12 col-sm-12">
                            <label class="control-label">Products Promoted</label>
                            <select id="ddlproductspromotedinst" multiple="multiple"
                                    data-placeholder="Select Products..." required></select>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
 