<div id="leavehistoryView-view" data-role="view" data-title="Leave History"
     data-after-show="disableBackButton" data-before-hide="enableBackButton"
     data-layout="afterlogin"
     data-model="app.leavehistoryView.leavehistoryViewModel"
     data-bind="events: { show: onShow }"> 
    <div id="dvleavehistory"> 
            <div class="panel-body" style="padding:0">
                <div data-role="listview" id="listview-leavehistory"></div>
                <script type="text/x-kendo-tmpl" id="template-leavehistory">
                    <div class="row">
                        <div class="col-xs-1" style="font-weight:bold">
                            <h4>
                                #: No_Of_Days #
                            </h4>
                            <p> #: LeaveType #</p>
                        </div>
                        <div class="col-xs-11">
                            <div>
                                #: FromDate # to  #: FromDate #
                            </div>
                            <div>
                                #: Reason #             
                            </div>
                        </div> 
                    </div>
                </script>
                 
            </div>
        </div>
    <!--MonthName	LeaveType	Reason	FromDate	ToDate	No_Of_Days
    April	CL	personel	26/04/2016	26/04/2016	1-->
</div>
