<div id="TourplanView" data-role="view" data-title="TourPlan Details"
     data-layout="afterlogin"
     data-model="app.TourplanView.TourplanViewModel"
     data-bind="events: { show: onShow,afterShow:afterShow }" >
    <footer data-role="footer">
        <div class="btn-group btn-group-justified">
            <a class="btn btn-primary"
               data-bind="events: {click: onRefresh }">
                <i class="fa fa-2x fa-refresh"></i>
            </a>
        </div>
    </footer>
    <div id="dvtourplanview" >
        <div class="panel-body padding0">
            <!--TourPlan_Details_ID
                TourPlan_Date	Activity_Period
                 Activity	Activity_Short_Name	Mode	Category
                Contact_Details	Specific_Objective	Worked_With_Details
                Worked_With_Employee_Details	Worked_With_Sub_Territory_Details
                    Market_Area_Name	Sub_Territory_Name
                -->
            <div class="panel-body">
                <div id="tourplan-details-calendar" style="width:100% !important"></div>
            </div>
            <div class="panel-headingsubcustom">
                <div class="row">
                    <div class="col-xs-12">
                        Today TourPlan Details
                    </div>
                </div>
            </div>
            <div class="panel-body padding0">
                <div data-role="listview" id="listview-tourplanldetailstoday"></div>
                <script type="text/x-kendo-tmpl" id="template-tourplanldetailstoday">
                    <div class="row">
                        <div data-role="button"
                             data-TourPlan_Date="${TourPlan_Date}"
                             data-click="fun_open_modalviewtourplanview"
                             style="text-align:left !important ">
                            <h4 class="horange"> #: TourPlan_Date #</h4>
                            <p>
                                #: Activity_Period # -  #: Activity #
                            </p>
                            <p>
                                #: Worked_With_Details # 
                            </p>
                            <p>
                                #: Market_Area_Name #
                            </p>
                        </div>
                    </div>
                </script>
            </div>
            <div class="panel-headingsubcustom">
                <div class="row">
                    <div class="col-xs-12 accordion-toggle" data-toggle="collapse"
                         data-parent="#accordion" href="#collapse1tourplanldetailsmonth">
                        <a style="text-decoration:none">
                            <span id="spanmonthtp"></span> Month TourPlan Details
                        </a>
                    </div>
                </div>
            </div>
            <div id="collapse1tourplanldetailsmonth" class="panel-collapse collapse">
                <div class="panel-body" style="padding:0">
                    <div data-role="listview" id="listview-tourplanldetailsmonth"></div>
                    <script type="text/x-kendo-tmpl" id="template-tourplanldetailsmonth">
                        <div class="row" >
                            <div data-role="button"
                                 data-TourPlan_Date="${TourPlan_Date}"
                                 data-click="fun_open_modalviewtourplanview"
                                 style="text-align:left !important ">
                                <h4 class="horange"> #: TourPlan_Date #</h4>
                                <p>
                                    #: Activity_Period # -  #: Activity #
                                </p>
                                <p>
                                    #: Worked_With_Details #
                                </p>
                                <p>
                                    #: Market_Area_Name #
                                </p>
                            </div>
                        </div>
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>
<div data-role="modalview" id="modalview-tourplanview" style="height:250px !important;
        width:90%!important ">
    <div class="panel-headingmodal" data-role="header">
        <div class="row">
            <div class="panel-title" style="padding-left:10px !important ; ">
                Tourplan KDM Details <a data-click="fun_close_modalviewtourplanview"
                                        data-role="button" class="pull-right"
                                        style="padding : 0 10px 0 0; ">
                    <i class="fa fa-close"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="panel panel-custom">
        <div class="panel-body padding0" style="background-color:#fff !important">
            <div id="tourplan-inskdmlist"></div>
        </div>
    </div>
    <!--<div class="panel-footer">
        <div class="pull-right">
            <a class="btn btn-danger" data-role="button"
               data-click="fun_close_modalviewtourplanview">
                <span class="fa fa-close"></span> Close
            </a>
        </div>
        <div class="clearfix"></div>
    </div>--> 
</div>