

@font-face {
    font-family: "HimalayaFont";
    /*src: url("Font/OpenSans-Light.ttf") format("truetype");*/
    src: url("Font/OpenSans-Light.ttf");
}

body {
    margin-top: 100px;
    padding-right: 15px;
    padding-left: 15px;
}

@media(min-width:768px) {
    body {
        margin-top: 50px;
    }
}

#wrapper {
    padding-left: 0;
}

#page-wrapper {
    width: 100%;
    padding: 0;
    background-color: #fff;
}

.huge {
    font-size: 50px;
    line-height: normal;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 225px;
    }

    #page-wrapper {
        padding: 10px 15px 10px 10px;
    }
}
/* reset everything to the default box model */

*, :before, :after {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    border-radius: 0px !important;
}

/* set a border-box model only to elements that need it */

.form-control, /* if this class is applied to a Kendo UI widget, its layout may change */
.container,
.container-fluid,
.row,
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1,
.col-xs-2, .col-sm-2, .col-md-2, .col-lg-2,
.col-xs-3, .col-sm-3, .col-md-3, .col-lg-3,
.col-xs-4, .col-sm-4, .col-md-4, .col-lg-4,
.col-xs-5, .col-sm-5, .col-md-5, .col-lg-5,
.col-xs-6, .col-sm-6, .col-md-6, .col-lg-6,
.col-xs-7, .col-sm-7, .col-md-7, .col-lg-7,
.col-xs-8, .col-sm-8, .col-md-8, .col-lg-8,
.col-xs-9, .col-sm-9, .col-md-9, .col-lg-9,
.col-xs-10, .col-sm-10, .col-md-10, .col-lg-10,
.col-xs-11, .col-sm-11, .col-md-11, .col-lg-11,
.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12,
.panel,
.nav,
div,
.form-group,
.input-group,
.input-group-addon,
a[data-role="button"],
label, span, div, table, th, td {
    font-family: "HimalayaFont";
}

/* Custome rk tag and class start */
.mandatory {
    color: #cc4141 !important;
    font-size: 1em !important;
}

.paddingTopBottom-5 {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.padding-10 {
    padding: 10px 10px 10px !important;
}

.padding-20 {
    padding: 20px 20px 20px !important;
}

.padding-25 {
    padding: 25px 25px 25px !important;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.marginTopleftBottom-10 {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    margin-left: 10px !important;
}

.marginTop-50 {
    margin-top: 50px !important;
}

.marginTop-30 {
    margin-top: 30px !important;
}

.marginTopBottom-10 {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}

.hide {
    display: none !important;
}

.show {
    display: block !important;
}

.invisible {
    visibility: hidden;
}

small, .small {
    font-size: 85%;
}

mark, .mark {
    padding: .2em;
    background-color: #fcf8e3;
}

.note {
    font-size: 1em !important;
    padding: 3px;
    color: #33404E;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.text-nowrap {
    white-space: nowrap;
}

.text-lowercase {
    text-transform: lowercase;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-capitalize {
    text-transform: capitalize;
}

.text-muted {
    color: #777;
}


/* Custome rk tag and class end */

/* Custome rk page header,button,loading and error class start */

.km-flat, .km-flat .k-toolbar, .km-flat .km-content, .km-flat .km-detail
/*,.km-flat .km-navbar*/ {
    background-color: #fff !important;
}

.km-navbar {
    background-color: #ff6600 !important;
    color: #fff !important;
}

.km-dialog-title, .km-view-title {
    position: relative;
    visibility: visible;
    text-align: center;
    font-size: 1.4em;
    line-height: 2em;
    margin-left: auto;
    margin-right: auto;
}

.km-flat .km-button {
    border: 0 !important;
    /*background-color:transparent !important ;*/
    background: rgba(0,0,0,0);
}

.km-flat .km-loader:before {
    border-radius: 50% !important;
    background-color: #ff6600 !important;
}

.km-group-title {
    border: 0;
    background-color: #DDD !important;
    text-align: left;
    color: #ff6600 !important;
}


.drawertopicon {
    padding: 0px !important;
    margin: 0px !important;
    background-color: transparent !important;
}

.faicon {
    padding-left: 3px !important;
    padding-right: 3px !important;
    margin: 0px !important;
    background-color: transparent !important;
}

label {
    color: #3F3F3F;
}

.nav > li {
    background: #fff !important;
    color: #666 !important;
    position: relative;
    display: block;
    text-align: left;
    line-height: 2em !important;
}

    .nav > li.km-button {
        margin: 2px !important;
        box-shadow: 0px 3px 3px #eeeeee !important;
        -moz-box-shadow: 0px 3px 3px #eeeeee !important;
        -webkit-box-shadow: 0px 3px 3px #eeeeee !important;
    }

    .nav > li:hover,
    .nav > li:focus {
        color: #ff6600 !important;
    }

    .nav > li > span > i {
        width: 15%;
    }

#left-drawer .km-listview-label:after, .km-listview-link:after,
#right-drawer .km-listview-label:after, .km-listview-link:after {
    display: none;
}

#left-drawer {
    text-align: left;
    width: 16em;
    font-size: smaller;
    text-align: left;
}

    #left-drawer header {
        padding: 6px;
        text-align: center;
        /*background-color: #f4f4f4;*/
    }

#right-drawer {
    width: 7em;
    font-size: smaller;
}

    #right-drawer li {
        text-align: center !important;
    }
/*@media screen and (min-device-width : 414px) 
and (max-device-height : 736px) and (max-resolution: 401dpi)
{

}*/
@media(min-height : 480px ) {
    #login-form {
        padding-top: 20% !important;
    }

    #right-drawer {
        padding-top: 30% !important;
    }

    .full-height {
        height: 480px !important;
    }
}

@media(max-height : 320px ) {
    #login-form {
        padding-top: 10% !important;
    }

    #right-drawer {
        padding-top: 20% !important;
    }

    .full-height {
        height: 320px !important;
    }
}

.full-height {
    display: table !important;
}

.middle-align {
    display: table-cell !important;
    vertical-align: middle !important;
    text-align: center !important;
}

.vcenter {
}

footer {
    background-color: #006666 !important;
    color: #fff !important;
    padding: 5px;
    height: 41px !important;
}

.horange {
    color: #ff6600 !important;
    font-weight: 800 !important;
}


#dashboard-view .container-fluid {
    padding: 0;
    margin: 0px;
}

.btn-success {
    background-color: #006666 !important;
    color: #fff !important;
    border: 0;
    text-transform: uppercase;
    letter-spacing: 3px;
}

    .btn-success:hover {
        background-color: #26A65B !important;
    }

.btn-primary {
    background-color: #ff6600 !important;
    color: #fff !important;
    border: 0 !important;
    text-transform: uppercase;
    letter-spacing: 3px;
    height: 32px !important;
}

    .btn-primary:hover {
        background-color: #FECC66 !important;
    }

.btn-info {
    background-color: #5bc0de !important;
    color: #fff !important;
    border: 0;
    text-transform: uppercase;
    letter-spacing: 3px;
}

    .btn-info:hover {
        background-color: #39B3D7 !important;
    }

.btn-danger {
    background-color: #d9534f !important;
    color: #fff !important;
    border: 0;
    text-transform: uppercase;
    letter-spacing: 3px;
}

    .btn-danger:hover {
        background-color: #cc4141 !important;
    }

.btn-leave {
    background-color: #2ABB9B !important;
    color: #fff !important;
    border: 0;
    width:32% 
}

    .btn-leave:hover {
        background-color: #36D7B7 !important;
    }

    .btn-leave1 {
    background-color: forestgreen !important;
    color: #fff !important;
    border: 0;
    width:32% 
}

    .btn-leave1:hover {
        background-color: green !important;
    }

.param {
    padding-top: 16px !important;
}

.paramvalue {
    background-color: #006666 !important;
    color: #eee !important;
    /*border: 1px solid !important;*/
    font-size: 16px !important;
    font-weight: 800;
    padding: 6px;
    border-radius: 10em !important;
}

.paramname {
    margin-top: 8px;
}

.dropdown-control {
    height: 34px;
    width: 100%;
}

.k-invalid-msg {
    color: #ff6600 !important;
    font-size: small !important;
}

.k-tooltip {
    text-align: left;
}

.fa-1-5x {
    font-size: 1.5em;
}

.fa-wifi {
    color: #ff6600;
}
/* Custome rk page header,button,loading and error class end */

.panel-custom {
    border: 0px !important;
}

/*#dvleavemanagementView .btn:not(.btn-block) {
    width: 29% !important; 
    margin: 5px !important;
    color: #fff !important;
}*/

.panel {
    margin-bottom: 0px !important;
}

.panel-headingcustom {
    background-color: #006666 !important;
    color: #fff !important;
    border: 0px !important;
    padding: 10px 15px !important;
}

.accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings'; /* essential for enabling glyphicon */
    content: "\e114"; /* adjust as needed, taken from bootstrap.css */
    float: right; /* adjust as needed */
    color: #fff; /* adjust as needed */
    padding-top: 3px;
}

.accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080"; /* adjust as needed, taken from bootstrap.css */
}

.panel-footer {
    padding: 3px 3px;
}
.padding0{
    padding:0px !important;
}
/* bootstrap modal*/

/* center a div start */
 

/* center a div end */
