<div id="fieldlocatorView" data-role="view" data-title="Field Locator"
     data-after-show="disableBackButton" data-before-hide="enableBackButton"
     data-layout="afterlogin"
     data-model="app.fieldlocatorView.fieldlocatorViewModel"
     data-bind="events: { show: onShow }"> 

    <footer data-role="footer">
        <div class="row text-center">
            <div data-role="button"  
                 data-click="app.navigation.back">
                <i class="fa fa-arrow-left"></i> Back
            </div>
            <div data-role="button"  
                 data-click="app.navigation.navigateteamcoverage">
                <i class="fa fa-home"> </i> Home
            </div>
        </div>
    </footer>
    <div id="dvfieldlocatorView"> 
        <div class="panel panel-default">
            <!--<div class="panel-heading text-center"
                 style="background-color:#fff!important ">
                <div class="row">
                    <div class="col-xs-12">
                        <input id="txtfslist" name="txtfslist" class="form-control">
                    </div>
                </div>
            </div>-->
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div id='map'></div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
