<div id="fieldlocatorView" data-role="view" data-title="FS Locator"
     data-after-show="disableBackButton" data-before-hide="enableBackButton"
     data-layout="afterlogin"
     data-model="app.fieldlocatorView.fieldlocatorViewModel"
     data-bind="events: { show: onShow }">
    <div id="dvfieldlocatorView">
        <!--<div class="btn btn-success" id="watchButton"
             data-role="button"
             data-bind="events: { click: get_location }">
            Get Location
        </div>-->
        <div class="panel panel-default">
            <div class="panel-heading text-center"
                 style="background-color:#fff!important ">
                <div class="row">
                    <div class="col-xs-12">
                        <button data-role="button" class="button" data-bind="click: showMap">Show</button>
                        <button data-role="button" class="button" data-bind="click: addMarkers">Add markers</button>
                        <input id="txtfslist" name="txtfslist" class="form-control">
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                         
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
