<div id="approveleave-view" data-role="view" data-title="Approve Leave"
     data-after-show="disableBackButton" data-before-hide="enableBackButton"
     data-layout="afterlogin"
     data-model="app.approveleaveView.approveleaveViewModel"
     data-bind="events: { show: onShow }">
    <div id="dvapproveleaveView">
        <div class="panel panel-custom">
            <div class="panel-heading">
                <span class="panel-title">
                    <span class="fa fa-recycle"></span>  Pending List
                </span>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div data-role="listview" id="listview-leaveapprovedetail">
                        <!--<li class="row">
                            <div class="col-xs-10">
                               <div><b> Radhakrishnan</b> </div>
                                <div> INS-15395 </div>
                                <div><span class="bg-info ">5</span> - 02/01/2017 to 06/01/2017</div>
                            </div>
                            <div class="col-xs-2">
                                <a class="btn btn-success " data-role="button"
                                   data-click="app.navigation.openmodalviewapplyleave">
                                <i class="fa fa-check fa-fw"></i></a>
                                <br />
                                <a class="btn btn-danger" data-role="button"
                                   data-click="openmodalviewapplyleave"><i class="fa fa-close fa-fw"></i></a>
                            </div>
                        </li>-->  
                     </div>
                    <script type="text/x-kendo-tmpl" id="template-leaveapprovedetail">
                        <div class="row">  
                            <div class="col-xs-10">
                                <div> #: Employee_Name # </div> 
                                <div> #: sub_territory # </div>
                                <div><span class="bg-info ">#: No_Of_Days #</span> - #: FromDate # to #: ToDate #</div>
                                <div>
                                    <span class="bg-info ">#: Leave_Type #</span>-  #: Reason #
                                </div>
                            </div> 
                            <div class="col-xs-2">
                                <a class="btn btn-success " data-role="button" 
                                   data-ethos_leave_master_id="${Ethos_Leave_Master_ID}" 
                                   data-employee_id="${employee_id}"  
                                   data-leave_type_id="${Leave_Type_ID}" 
                                   data-click="fun_leave_approve">
                                    <i class="fa fa-check fa-fw"></i>
                                </a>
                                <br />
                                <a class="btn btn-danger" data-role="button"
                                   data-ethos_leave_master_id="${Ethos_Leave_Master_ID}"  
                                   data-click="fun_leave_reject"><i class="fa fa-close fa-fw"></i></a>
                            </div> 
                        </div>
                    </script>
                </div>
            </div>
        </div>
    </div>
    <div data-role="modalview" id="modalview-approveleave" style="height:auto;width:90%!important ">
        <div class="panel-heading">
            <div class="row">
                <div class="panel-title text-uppercase" style="padding-left:10px !important ; ">
                    Are you sure you want to Reject.? <a data-click="closemodalviewapproveleave"
                                     data-role="button" class="pull-right"
                                     style="padding : 0 5px 0 0; ">
                        <i class="fa fa-close"></i>
                    </a>
                </div>
            </div>
        </div>
        <form id="form-rejectleave">
            <div class="panel-body">
                <div class="row">
                    <div class="form-group col-xs-12 col-sm-12">
                        <label class="control-label">Remarks</label>
                        <input name="txtremarks" id="txtremarks" type="text"
                               class="form-control" required
                               onkeyup="return textinputlength(this.value, 1000, this.id);" />
                        <input name="hdnethos_leave_master_id" id="hdnethos_leave_master_id" type="hidden" value="0" />
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="pull-right">
                    <a class="btn btn-danger" data-role="button"
                       data-click="fun_leave_reject_submit">
                        <span class="fa fa-close"></span> Reject
                    </a>
                    <!--<a class="btn btn-primary" data-role="button"
                   data-click="closemodalviewapplyleave">
                    Close
                </a>-->
                </div>
                <div class="clearfix"></div>
            </div>
        </form>
</div>
</div>
