<div id="DCRView-view" data-role="view" data-title="Daily Call Reporting"
     data-layout="afterlogin"
     data-model="app.DCRView.DCRViewModel"
     data-bind="events: { show: onShow }"> 
    <div id="dvDCRView">
        <div class="panel panel-custom">
            <div class="panel-body" id="dvdcr1" style="display:none">
                <div class="row">
                    <div class="btn btn-success col-xs-4 col-xs-offset-4"
                         data-bind="events: {click: gotoDCR2 }">
                        <i class="fa fa-4x fa-edit"></i>
                        <br />
                        <h1>
                            D C R
                            <br /> S T A R T
                        </h1>
                    </div>
                </div> 
            </div> 
        </div>
    </div>
</div>
