<div id="DCRstartView" data-role="view" data-title="DCR Start"
     data-after-show="disableBackButton" data-before-hide="enableBackButton"
      data-layout="afterlogin"
     data-model="app.DCRstartView.DCRstartViewModel"
     data-bind="events: { show: onShow }">  
    <!--,afterShow: afterShow-->
    <div id="dvDCRstartView" data-role="button"
           data-click="app.navigation.navigateDCRmasterView"
         style="height:325px;width:90%"> 
        <h1 class="horange">
            Touch to Start the DCR
        </h1>
    </div> 
</div>
