<div id="DCRstartView" data-role="view" data-title="DCR Start"
     data-after-show="disableBackButton" data-before-hide="enableBackButton"
      data-layout="afterlogin"
     data-model="app.DCRstartView.DCRstartViewModel"
     data-bind="events: { show: onShow ,afterShow: afterShow}">  
    <div   id="dvDCRstartView" data-role="button"
           data-click="app.navigation.navigateDCRmasterView">
        <img style="padding-left:30% !important" class="resimgs "
             src="images/dcr.png" alt="rk " /> 
    </div> 
</div>
