<div id="profile-view" data-role="view" data-reload="true"
     data-title="Profile" data-layout="afterlogin"
     data-model="app.profileView.profileViewModel"
     data-bind="events: { show: onShow, hide: onHide }">
    <div data-role="header">
        <div data-role="navbar">
            <a data-role="button" data-rel="drawer"
               href="#left-drawer"
               data-align="left" class="drawertopicon">
                <i class="fa fa-1-5x fa-bars"></i>
            </a>
            <div data-role="view-title"></div>
            <div data-align="right">
                <a data-role="button" data-click="app.navigation.back"
                   class="faicon">
                    <i class="fa fa-1-5x fa-arrow-left"></i>
                </a>
                <a data-role="button" class="faicon"
                   data-bind="events: {click: updateProfile }">
                    <i class="fa fa-1-5x fa-save"></i>
                </a>
                <a data-role="button" data-rel="drawer"
                   href="#right-drawer"
                   class="faicon">
                    <i class="fa fa-1-5x fa-cog"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row row ">
                <form id="edit-profile-form">
                    <div class="form-group col-xs-12 col-sm-8 col-sm-offset-2">
                        <label class="control-label col-xs-4 ">Email</label>
                        <div class="col-xs-8">
                            <input name="email" type="email" class="form-control"
                                   data-bind="value: profile.Email" required
                                   onkeyup="return textinputlength(this.value, 200, this.id);" />
                        </div>
                    </div>
                    <div class="form-group col-xs-12 col-sm-8 col-sm-offset-2">
                        <label class="control-label col-xs-4">Mobile</label>
                        <div class="col-xs-8">
                            <input name="mobile" type="number" class="form-control"
                                   data-bind="value: profile.Mobile" required
                                   onkeyup="return textinputlength(this.value, 200, this.id);" />
                        </div>
                    </div>
                    <div class="form-group col-xs-12 col-sm-8 col-sm-offset-2">
                        <label class="control-label col-xs-4">Username</label>
                        <div class="col-xs-8">
                            <input name="username" type="text" class="form-control"
                                   data-bind="value: profile.Username" disabled />
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="panel-footer">
            <div class="pull-right">
                <a class="btn btn-success"
                   data-bind="events: {click: updateProfile }">
                    Save
                </a>
                <a class="btn btn-primary" data-role="button"
                   data-click="app.navigation.back">
                    Back
                </a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
